.program {
  position: relative;
  padding: 0.5rem;
}
.program__footer {
  position: sticky;
  bottom: 0;
  margin: 0 -0.5rem;
}
.program__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program__head__kiln {
  font-weight: normal;
  padding-right: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.program-item {
  color: var(--txt-colour);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header kiln"
    "type   temp   time";
  padding: 0.3rem var(--bleed);
  text-decoration: none;
  transition: box-shadow ease-in-out 0.3s, color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.program-item:hover, .program-item:focus {
  box-shadow: 0.3rem 0.3rem 1rem var(--over-colour);
  color: var(--bg-colour);
  background-color: var(--over-colour-rev);
}

.program-item > * {
  font-size: .9rem;
  margin: 0;
  padding: 0 .3rem 0 0;
}

.program-item--svg {
  grid-template-columns: 4rem auto auto auto auto;
  grid-template-rows: 4rem auto auto auto auto;
  grid-template-areas:
    'svg header header kiln'
    'svg type   temp   time';
}

.program-item__name {
  font-size: 1.1rem;
  grid-area: header;
  margin: 0;
  padding: 0 0 .3rem 0;
}

.program-item__type {
  grid-area: type;
}

.program-item__max {
  grid-area: temp;
  text-align: right;
}

.program-item__time {
  display: none;
  grid-area: time;
  padding: 0;
  text-align: right;
}

.program-item__kiln {
  grid-area: kiln;
}

.program-item__svg {
  grid-area: svg;
}

.firing-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0
}

 .firing-steps > svg.firing-log {
  margin-bottom: 2rem;
}
@media screen and (min-width: 67rem) {
  .firing-steps > svg.firing-log {
    margin-bottom: 0;
  }
}

.program-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 0.05rem solid #ccc;
}

.program-fields__key {
  border-top: 0.05rem solid #ccc;
  grid-column-start: 1;
  grid-column-end: 2;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.program-fields__val {
  border-top: 0.05rem solid #ccc;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
/*
.program-fields__key:first-of-type,
.program-fields__val:first-of-type  {
  border-top:none;
} */

.program-steps {
  margin-top: -0.3rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.program-steps td {
  text-align: right;
}
.program-steps__rate { white-space: nowrap;}

@media screen and (min-width: 20rem) {
  .program-item {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header kiln"
      "type   temp   time";
  }
  .program-item--svg {
    grid-template-columns: 4rem auto auto auto auto;
    grid-template-rows: 4rem auto auto auto auto;
    grid-template-areas:
      'svg header header kiln'
      'svg type   temp   time';
  }

  .program-item__max {
    text-align: center;
  }

  .program-item__time {
    display: block;
  }
}

@media screen and (min-width: 20rem) {
  .program-item {
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas:
      "header kiln type temp"
      "header kiln time time";
  }
  .program-item--svg {
    grid-template-columns: 4rem auto auto auto auto;
    grid-template-rows: 4rem auto auto auto auto;
    grid-template-areas:
      'svg header kiln type temp'
      'svg header kiln time time';
  }

  .program-item__max {
    text-align: right;
    padding: 0
  }

  .program-item__time {
    padding-top: 0.3rem;
  }

  .program-item__name {
    align-self: center;
    font-size: 1.75rem;
    line-height: 1;
    padding: 0;
  }

  .program-item__kiln {
    align-self: center;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0 2rem;
  }
}

