body {
  background-color: var(--bg-colour);
  box-sizing: border-box;
  color: var(--txt-colour);
  margin: 0;
  padding: 3.5rem 0 0 0;
}



@media screen and (min-width: 48rem) {
  body { padding-top: 6rem; }
}
