.list-inline {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-inline > li {
  list-style: none;
  padding: 0.3rem 0;
  margin: 0;
}
