/**
 *
 */
body {
  box-sizing: border-box;
  font-family: var(--b-font);
}

.firing-logger {
  color: var(--txt-colour);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--h-font);
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

input, textarea {
  /* font-family: var(--c-font); */
}

input:read-only, textarea:read-only {
  background-color: var(--bg-colour);
  border: 0.05rem solid var(--bg-colour);
  color: var(--txt-colour);
  font-family: var(--b-font);
  font-size: 1rem;
}
