body {
  box-sizing: border-box;
}

.firing-logger {
  color: var(--txt-colour);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--h-font);
}

input, textarea {
  font-family: var(--c-font);
}
