.page-header {
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0; */
  /* width: 100%;
  display: grid;
  grid-template-areas: "nav" "head"; */
  background-color: #fff;
  /* padding-bottom: 1rem; */
  color: var(--txt-colour);
  background-color: var(--over-colour);
}

.page-header h1 {
  margin: 0;
  padding: 0;
  grid-area: head;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.page-header__sub-head {
  font-weight: normal;
  padding-left: 0.5rem;
}



.page-header nav {
  margin: 0;
  padding: 0;
  grid-area: nav;
}

.mnain-content {
  position: relative;
}
.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  left: 0.05rem;
  right: 0.05rem;
  width: calc(100% - 0.1rem);
}
