.grid-line {
  fill: none;
  stroke-dasharray: 0.5, 2;
  stroke-width: 0.5;
  stroke: #000;
}
.unit-text {
  fill: #000000;
  font-family: Verdana;
  font-size: 21.333px;
  font-weight: bold;
  line-height: 1.25;
}
.temp-value {
  fill: #000000;
  font-family: Arial;
  font-size: 18px;
  font-stretch: condensed;
  line-height: 1.25;
  text-align: center;
  text-anchor: middle;
}
.time-value {
  fill: #000000;
  font-family: Arial;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  text-anchor: middle;
}
.log-data {
  fill: #005c00;
}
.program {
  fill: blueviolet;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: #000;
}
.frame {
  fill: none;
  stroke-width: 0.5;
  stroke: #000;
}
