.input-fields__item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0.5rem var(--bleed);
  width: calc(100% - 2rem);
  overflow: hidden;
  /* gap: 1rem; */
}
.input-fields__item select {
  width: 100%;
}
.input-fields__item input,
.input-fields__item textarea {
  /* font-weight: bold; */
  width: calc(100% - 1rem);
}
.input-fields__item input,
.input-fields__item textarea,
.input-fields__item select {
  background-color: var(--over-colour-rev);
  border: none;
  color: var(--txt-colour-rev);
  display: block;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.input-field__input[type='number'] {
  display: inline-block;
  width: 10rem;
}
.input-field__input--number__prefix {
  padding-right: 0.5rem;
}
.input-field__input--number__suffix {
  padding-left: 0.5rem;
}

.input-field__label {
  font-weight: bold;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
}
.input-fields__item > label {
  padding-bottom: 0.5rem;
}
.input-fields__item > div {
  padding-top: 0.3rem;
}

@media screen and (min-width: 30rem) {
  .input-fields__item {
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-areas:
      'label field'
      'label error';
  }
  .input-fields__item > div {
    grid-area: error;
  }
  .input-fields__item > input,
  .input-fields__item > div.checkable-grp__wrap {
    grid-area: field;
  }
  .input-fields__item > label {
    grid-area: label;
    font-weight: bold;
  }
  .input-fields__item--09 { grid-template-columns: 9rem auto; }
  .input-fields__item--15 { grid-template-columns: 15rem auto; }
  .input-fields__item--18 { grid-template-columns: 18rem auto; }
  .input-fields__item--21 { grid-template-columns: 21rem auto; }
}

input[type='number'] {
  text-align: right;
}
