/**
 * Item list
 *
 * Comment description goes here (may be multiple lines)
 *
 * Sample file path: .\item-list.view.mjs
 *
 *
 * Markup:
 *  <ul class="item-list {{modifier_class}}">
 *        <li class="item-list__item">
 *            <!-- Sub component (e.g. link tag) goes here -->
 *        </li>
 *  </ul>
 *
 * .content--bleed - Make component bleed to the edge of the screen
 *                   (or parent component)
 *
 * StyleGuide: Molecule.Item list
 */
.item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 0.05rem solid #ccc;
}

.item-list__item {
  margin: 0 inherit;
  padding: 0 ;
  border-top: 0.05rem solid #ccc;
}
